MONGODB_URI=mongodb+srv://pulseUser:pulseNexusPass!@cluster0.bmedq7.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=TestData
LLM_API_KEY=
LLM_PROVIDER=anthropic
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
VOYAGE_API_KEY=pa-B-idx6wuEtl6mDd3AYWcwIsvaTgFjw1zjfWOAL186gI
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
ELEVENLABS_API_KEY=
LANGSMITH_API_KEY=
